.item {
  display: flex;
  cursor: pointer;
  background-color: rgba(256, 256, 256, 0.5);
  margin: 4px 4px 0 0;
  border-radius: 4px;
  height: 50px;
  font-size: 13px;
  overflow: hidden;
  transition: all 0.2s ease 0s;

  &__from {
    width: 20%;
  }
  &__title {
    width: 30%;
  }
  &__content {
    width: 30%;
  }
  &__date {
    width: 20%;
    text-align: end;
  }

  &:hover {
    background-color: rgba(256, 256, 256, 0.2);
  }
}

.item-cell {
  height: 50px;
  line-height: 30px;
  padding: 10px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
