.form-container {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-control {
  margin-bottom: 5px;
}

.form-control-content {
  flex-grow: 1;
  margin: 5px 0;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color1-08);
  color: var(--color2-06);
  border-radius: 7px;
}

.form-editor {
  width: 100%;
  height: 100%;
}

.form-buttons {
  padding: 10px 0;
}

.form-buttons > .button {
  margin-right: 10px;
}